body{
    background: rgba(119, 119, 119, 0.61);
    overflow: hidden;
}
.block{
    max-width: 100%;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* border: 2px solid red; */
    overflow: hidden;
}
.card{
    padding: 40px;
    /* border: 2px solid red; */
    margin-top: 170px;
    position: absolute;
    top: 50px;
}
.tx{
    font-size: 22px;
    font-weight: bold;
    transition: cursor 0.7s ease, color 0.7s ease, font-weight 0.7s ease;
}
.ph{
    width: 400px;
    /* border-radius: 10px; */
    transition:box-shadow 2.2s ease ;
}
.card1{
    left: -440px;
           transition: left 2.2s ease, top 2.2s ease, opacity 3s ease;   
           opacity: 0;
}
.card0{
    right: -780px;
            transition: right 2.2s ease, opacity 3s ease;
            opacity: 0;
}
.block:hover .card0{
    right: 780px;
      transition: right 2.2s ease, opacity 3s ease;
      opacity: 1;
}
.block:hover .card1{
    left: 1200px;
    top: -20px;
      transition: left 2.2s ease, top 2.2s ease, opacity 3s ease;
      opacity: 1;
}
.ph:hover{
    box-shadow: 0px 20px 40px -10px red;
    transition:box-shadow 2.2s ease ;
}
.bt{
    padding: 10px;
    width: 130px;
    height: 45px;
    color: white;
    background: rgb(207, 2, 2);
    border: none;
    border-radius: 20px;
    transition: border 0.7s ease, color 0.7s ease, border-radius 0.7s ease, background 0.7s ease ;
}
.bt:hover{
    transition: border 0.7s ease, color 0.7s ease, border-radius 0.7s ease, background 0.7s ease ;
    border: 2px solid rgba(119, 119, 119, 0.61);
    color: black;
    border-radius: 0;
    background: none;
}
.tx:hover{
    color: rgba(75, 73, 73, 0.61);
    cursor: pointer;
    /* font-weight: 100; */
    transition: cursor 0.7s ease, color 0.7s ease,  font-weight 0.7s ease;
}