body{
    background: linear-gradient(to right, #c4c4c4, #8b8b8bd0);
    font-family: -apple-system, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.block{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.txt{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    margin-left: 30px;
}
.txt1{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    margin-left: 50px;
}
.card{
    display: flex;
    align-items: center;
    position: relative;
}
.ph{
    position: absolute;
    right: 130px;
}
.txt:hover, .txt1:hover{
    text-decoration: underline blue;
    transition: 0.7s;
}
.div3{
    width: 420px;
    height: 48px;
    background: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}
.ph2{
    width: 20px;
    height: 20px;
    opacity: 0.6;
}
.sir{
    border: none;
    outline: none;
    background: transparent;
    margin-left: 10px;
    width: 100%;
    font-size: 14px;
    color: #333;
}
.block1, .card1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 100px; */
}
.block1{
    margin-top: 100px;
}
.card1{
    border-top: 1px solid rgba(75, 75, 75, 0.788) ;
    max-width: 100%;
    width: 100%;
    padding: 40px;
    border-bottom: 1px solid rgba(75, 75, 75, 0.788) ;
}
.card2, .div4, .tl{
    position: relative;
    
}
.sp {
    position: relative;
    padding: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: black;
    font-size: 14px;
    transition: top 1.2s ease, opacity 1.2s ease;
}
.txt2{
    position: absolute;
     top: 10px;
    /* right: 30px;  */
    text-decoration: none;
    color: rgb(255, 255, 255);
}
 .txtt{
    top: 35px;
    /* right: -45px; */
}
.txtt1{
    top: 58px;
}
.div5{
    position: absolute;
    left: 115px;
    background: rgba(75, 75, 75, 0.788);
    height: 80px;
    width: 100px;
    border-radius: 5px;
    top: 110px;
        transition: top 1.2s ease, opacity 1.2s ease;
    opacity: 0;
}
.tl{
    margin-top: 0px;
}
.block1{
    overflow: hidden;
}
.txt2:hover{
    color: rgb(196, 196, 196);
}
.sp:hover + .div5,
.sp:focus + .div5 {
    top: -10px;
    transition: top 1.2s ease, opacity 1.2s ease;
    opacity: 1;
}
.div1, .div2, .div3, .div4{
    margin-left: 70px;
}
.div6{
    margin-left: 130px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bt{
    background: rgba(232, 0, 1, 1);
    color: white;
    border-radius: 50%;
    border: none;
    width: 18px;
    position: absolute;
    top: -8px;
    left: 10px;
}
.div7{
    margin-left: 20px;
}
.bt1{
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 177px;
    height: 50px;
   transition: background 1.2s ease, color 1.2s ease;

}
.bt1:hover{
    background: rgba(232, 0, 1, 1);
  transition: background 1.2s ease, color 1.2s ease;
    color: white;
}
.block2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.card3s1{
    background-image: url(photo/Rectangle\ 5.png);
    background-position: none;
    background-repeat: initial;
    background-size: cover;
    width: 553px;
    height: 340px;
    border-radius: 0px 20px 20px 0px;
}
.dive0{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 30px;
}
.dive{
    width: 100px;
    background: rgb(255, 153, 0);
    height: 7px;
    margin-left: 20px;
    border-radius: 20px;
    transition: opacity 0.8s ease;
}
.dive:hover{
    opacity: 0.4;
    transition: opacity 0.8s ease;
}
.card3s{
    width: 550px;
    height: 360px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 40px;
    background: rgba(255, 243, 222, 1);
}
.tx1{
    font-weight: bold;
    font-size: 32px;
}
.txa{
    margin-top: -15px;
}
.bt2{
    background: rgb(218, 218, 218);
    color: rgb(0, 0, 0);
    width: 174px;
    height: 50px;
    border: none;
    border-radius: 8px;
  transition: background 1.2s ease, color 1.2s ease;
  margin-top: 30px;
}
.bt2:hover{
    background: rgba(0, 0, 0, 1);
    color: white;
      transition: background 1.2s ease, color 1.2s ease;
}
.block3{
    position: relative;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: -330px;
}
.txt3{
    position: relative;
    text-decoration: none;
    color: white;
    padding: 10px 0;
    z-index: 1;
    margin-left: 60px;
}
.card4{
    position: relative;
}
.sp1{
    position: absolute;
    top: -10px;
    left: 30px;
    width: 110px;
    height: 40px;
    background: rgba(232, 0, 1, 1);
    transition: left 1.6s ease, width 1.6s ease;
    border-radius: 8px;
}
.txt3:nth-child(1):hover ~ .sp1{
    left: 30px;
    width: 110px;
    transition: left 1.6s ease, width 1.6s ease;
}

.txt3:nth-child(2):hover ~ .sp1{
    left: 170px;
    width: 170px;
    transition: left 1.6s ease, width 1.6s ease;
}

.txt3:nth-child(3):hover ~ .sp1{
    left: 380px;
    width: 170px;
    transition: left 1.6s ease, width 1.6s ease;
}

.txt3:nth-child(4):hover ~ .sp1{
    left: 580px;
    width: 160px;
    transition: left 1.6s ease, width 1.6s ease;
}

.txt3:nth-child(5):hover ~ .sp1{
    left: 760px;
    width: 160px;
    transition: left 1.6s ease, width 1.6s ease;
}
.tx3{
    font-weight: 700;
    font-size: 32px;
    margin-left: 320px;
    margin-top: 100px;
}
.block4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.card5{
    border: 1px solid rgba(75, 75, 75, 0.788);
    width: 255px;
    height: 406px;
    border-radius: 10px;
    color: black;
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    padding-bottom: 0;
}
.card5:hover .tx4{
    color: rgba(232, 0, 1, 1);
    transition: color 0.8s ease;
}
.bt3:hover{
    background: rgba(232, 0, 1, 1);
    color: white;
    transition: background 1.2s ease, color 1.2s ease;
}
.bt3{
    width: 182px;
    height: 50px;
    color: rgba(232, 0, 1, 1);
    border-radius: 8px;
    transition: background 1.2s ease, color 1.2s ease;
    border: 1px solid rgba(232, 0, 1, 1); 
    background: none;
    margin-top: 20px;
}
.tx4{
  font-size: 24px;
  font-weight: bold;
    transition: color 0.8s ease;
}
.tx5{
    font-size: 18px;
    color: rgba(104, 103, 103, 0.616);
    margin-top: -15px;
}
.div8{
    display: inline-flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    height: 36px;
    background: #fff;
    margin-top: 30px;
}
.bt4{
    width: 36px;
    height: 36px;
    border: none;
    background: #f5f5f5;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.7s ease;
}
.bt4:hover{
    background: #e0e0e0;
    transition: background 0.7s ease;
}
.coin{
    width: 40px;
    text-align: center;
    font-size: 14px;
    user-select: none;
}
.txt4{
    color: rgba(0, 158, 248, 1);
    text-decoration: none;
    font-size: 16px;
    transition: text-decoration 0.7s ease;
}
.txtt2{
    margin-top: -17px;
}
.txt4:hover{
    transition: text-decoration 0.7s ease;
    text-decoration: underline rgba(0, 158, 248, 1);
}
.card6{
    border: 1px solid rgba(104, 103, 103, 0.616);
    padding: 20px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-self: center;
    width: 502px;
    height: 212px;
    padding-right: 0;
}
.ph6{
    margin-left: 25px;
}
.vid{
    position: relative;
}
.div10{
    position: absolute;
    right: 420px;
    top: 0;
    padding: 5px;
    font-size: 30px;
    color: rgba(0, 0, 0, 1);
transition: color 0.8s ease;
cursor: pointer;
}
.sp2:hover .card6{
    position: absolute;
    left: 0;
}
.sps{
    right: 380px;
}
.div10:hover{
    color: rgba(99, 99, 99, 0.767);
transition: color 0.8s ease;
}
.vid1{
    margin-top: -15px;
}
.vid2{
    margin-top: 30px;
}
.btt{
    margin-top: 10px;
}
.cardd{
    height: 436px;
}
.block3{
    position: relative;
}
.phh{
    width: 251px;
    height: 210px;
}
.block5{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 100%;
    margin-top: 100px;
   background-color: #f2f2f2;
    width: 1110px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    overflow: hidden;
}
.ph7{
    width: 700px;
    height: 555px;
    position: absolute;
    left: -80px;
    top: -80px;
    transition: left 0.7s ease;
}
.cardd2:hover .ph7{
    left: -330px;
    transition: left 1.2s ease;
}
.cardd2{
    margin-left: 300px;
    width: 450px;
    height: 355px;
    overflow: hidden;
    /* border: 2px solid red; */
    position: relative;
}
.cardd1{
    margin-left: 20px;
    padding: 20px;
}
.txt5{
    text-decoration: none;
    color: black;
}
.sp3{
    cursor: auto;
}
.tx6{
    font-size: 26px;
    font-weight: bold;
}
.txa1{
    margin-top: -20px;
}
.div12{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.div14{
    width: 127px;
    height: 38px;
    border: 1px solid rgba(99, 99, 99, 0.767);
    border-radius:5px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
    position: relative;
           transition: border 0.7s ease, box-shadow 0.7s ease, transform 0.7s ease;

}
.div15{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.ph8{
    transition: border-radius 0.8s ease, box-shadow 0.8s ease;
    width: 70px;
}
.ph8:hover{
    box-shadow: 0px 0px 20px green;
    border-radius: 5px;
    transition: border-radius 0.8s ease, box-shadow 0.8s ease;
}
.tx7{
    position: absolute;
    top: 9px;
    font-size: 9px;
}
.tx8{
    /* position: absolute; */
    /* top: 20px; */
    margin-top: 33px;
    margin-left: 10px;
    font-weight: bold;
}
.ph9{
    margin-left: 5px;
}
.ph10{
    margin-left: 5px;
    /* width: 540px;
    height: 400px;
    transition: left 1.2s ease; */
}
/* .ph10:hover{
    position: absolute;
    left: -270px;
    transition: left 1.2s ease;
} */
.div14:hover{
    border: 1px solid red;
    transition: border 0.7s ease, box-shadow 0.7s ease, transform 0.7s ease;
    box-shadow: 0px -10px 20px 0px rgb(255, 136, 0),
    0px 10px 20px 0px rgba(0, 102, 255, 0.911);
   transform: translateY(-5px);
}
.block6{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}
.div16{
    margin-top: 30px;
    margin-left: 20px;
}
.ph11{
    margin-top: -10px;
    margin-bottom: 40px;
    margin-left: 60px;
}
.ph12{
    margin-left: 30px;
    margin-top: -0px;
    opacity: 0.4;
}
.block6{
    max-width: 100%;
    height: 30vh;
}
.card8{
    position: relative;
    /* overflow: hidden; */
    /* border: 2px solid red; */
    height: 100px;
}
.ph12:hover{
    opacity: 1;
    transition: opacity 0.8s ease;
}
.block6:hover .txt6{
    text-decoration: none;
    color: black;
    transition: color 0.7s ease, text-decoration 1.2s ease;
}
.txt6{
    transition: color 0.7s ease, text-decoration 1.2s ease;
}
/* .block6:hover .txt7{
    font-size: 20px;
    font-weight: bold;
    transition: font-size 0.9s ease;
} */
.txt7{
    /* transition: font-size 0.9s ease; */
    font-size: 20px;
    font-weight: bold;
}
.txt8{
    font-size: 20px;
    transition: color 0.7s ease;
}
.block6:hover .txt8{
    color: rgba(0, 158, 248, 1);
    transition: color 0.7s ease;
}
.txt6:hover{
    box-shadow: 0px 20px 30px -10px red;
}
.block7{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    max-width: 100%;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid rgba(75, 75, 75, 0.788);
    height: 10vh;
}
.card9{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.divv{
    position: absolute;
    right: -150px;
}
.divv1{
    margin-left: 20px;
}
.txt10{
    text-decoration: none;
    color: #333;
}
@media (max-width: 1024px) {
  body {
    background: linear-gradient(to right, #c4c4c4, #8b8b8bd0);
    padding: 0 10px;
  }

  .block {
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }

  .txt, .txt1 {
    margin-left: 10px;
    font-size: 14px;
  }

  .block1 {
    margin-top: 50px;
  }

  .card1 {
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    margin-left: 0;
  }

  .div1, .div2, .div3, .div4 {
    margin-left: 0;
  }

  .div3 {
    width: 100%;
  }

  .div6, .div7 {
    margin-left: 0;
  }

  .block2 {
    flex-direction: column;
    margin-top: 50px;
  }

  .card3s, .card3s1 {
    width: 100%;
    border-radius: 20px;
    height: auto;
  }

  .block3 {
    margin-left: 0;
    flex-wrap: wrap;
    gap: 15px;
  }

  .tx3 {
    margin-left: 20px;
  }

  .block4 {
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 10px;
  }

  .card5, .cardd {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }

  .card6 {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  .block5 {
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
  }

  .cardd1 {
    margin-left: 0;
    padding: 15px;
  }

  .cardd2 {
    margin-left: 0;
    width: 100%;
  }

  .ph7 {
    width: 100%;
    height: auto;
    position: static;
    left: auto;
    top: auto;
  }

  .block6 {
    gap: 50px;
    padding: 20px;
  }

  .block7 {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .txt10 {
    font-size: 14px;
  }
}

/* Mobile/Phone styles (max-width: 768px) */
@media (max-width: 768px) {
  body {
    padding: 0 5px;
  }

  .block {
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    align-items: center;
  }

  .card {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .txt, .txt1 {
    margin-left: 0;
    font-size: 12px;
  }

  .ph {
    position: static;
    right: auto;
  }

  .block1 {
    margin-top: 30px;
  }

  .card1 {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    width: 100%;
  }

  .div1 {
    display: none;
  }

  .div2, .div3 {
    width: 100%;
    margin-left: 0;
  }

  .div3 {
    width: 100%;
  }

  .div4, .div6, .div7 {
    width: 100%;
    margin-left: 0;
  }

  .sp {
    width: 100%;
    margin-left: 0;
  }

  .div5 {
    left: 0;
    width: 100px;
  }

  .bt1 {
    width: 100%;
    margin-left: 0;
  }

  .block2 {
    flex-direction: column;
    margin-top: 30px;
    padding: 0 10px;
  }

  .card3s, .card3s1 {
    width: 100%;
    height: 250px;
    border-radius: 15px;
  }

  .tx1 {
    font-size: 24px;
  }

  .tx2 {
    font-size: 14px;
  }

  .block3 {
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    margin-left: 0;
    padding: 0 10px;
  }

  .txt3 {
    margin-left: 0;
    font-size: 14px;
  }

  .sp1 {
    display: none;
  }

  .tx3 {
    font-size: 24px;
    margin-left: 10px;
    margin-top: 30px;
  }

  .block4 {
    flex-direction: column;
    gap: 15px;
    padding: 0 10px;
  }

  .card5, .cardd {
    width: 100%;
    height: auto;
    max-width: none;
  }

  .card6 {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  .tx4 {
    font-size: 20px;
  }

  .tx5 {
    font-size: 14px;
  }

  .div8 {
    margin-top: 15px;
  }

  .div10 {
    position: static;
    right: auto;
    margin-top: 10px;
  }

  .vid {
    position: relative;
  }

  .block5 {
    width: 100%;
    height: auto;
    gap: 15px;
    padding: 15px;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin: 30px 10px;
  }

  .cardd1 {
    margin-left: 0;
    padding: 15px 0;
  }

  .cardd2 {
    margin-left: 0;
    width: 100%;
    height: auto;
    overflow: visible;
  }

  .ph7 {
    position: static;
    width: 100%;
    height: auto;
    left: auto;
    top: auto;
  }

  .tx6 {
    font-size: 20px;
    margin-left: 0;
  }

  .txa1 {
    margin-top: -10px;
  }

  .div12 {
    flex-direction: column;
    gap: 15px;
  }

  .div14 {
    width: 100%;
  }

  .block6 {
    gap: 30px;
    flex-direction: column;
    padding: 20px 10px;
    margin-top: 50px;
  }

  .card8 {
    width: 100%;
    text-align: center;
  }

  .ph11 {
    margin-left: 0;
    display: flex;
    justify-content: center;
  }

  .div16 {
    margin-left: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .ph12 {
    margin-left: 0;
    width: 30px;
    height: 30px;
  }

  .txt6, .txt7 {
    font-size: 16px;
  }

  .txt8 {
    font-size: 16px;
  }

  .block7 {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    margin-top: 30px;
    border-top: 1px solid rgba(75, 75, 75, 0.788);
  }

  .card9 {
    width: 100%;
  }

  .divv, .divv1 {
    position: static;
    right: auto;
  }

  .txt10 {
    font-size: 12px;
  }
}

/* Extra small devices (max-width: 480px) */
@media (max-width: 480px) {
  body {
    padding: 0;
  }

  .block {
    margin-top: 15px;
    gap: 10px;
  }

  .txt, .txt1 {
    font-size: 11px;
  }

  .div3 {
    width: 100%;
    padding: 0 8px;
  }

  .card1 {
    padding: 10px;
    gap: 8px;
  }

  .tx1, .tx3, .tx6 {
    font-size: 18px;
  }

  .tx2 {
    font-size: 12px;
  }

  .card5, .cardd {
    width: 100%;
    padding: 10px;
  }

  .block5 {
    margin: 20px 5px;
    padding: 10px;
  }

  .block6, .block7 {
    padding: 10px 5px;
  }
}