body {
    background-color: #00ffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.block1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 1;
}
.block1:hover{
     background-color: rgba(92, 92, 92, 0.61);
      box-shadow: 0 10px 25px rgba(153, 27, 27, 0.1);
      transition: 1s;
}
.img {
    width: 200px;
    border-radius: 30px;
    margin-right: 30px;
}
.block2 {
    display: flex;
    flex-direction: column;
}
.tx1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}
.nik {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #555;
}
.block3 {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}
.block3 p {
    background-color: #f0f0f0;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
}
.block3 p:hover  {
     background-color: #555;
    color: white;
    transition: 0.6s;
}
.link button {
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #0000ff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.bt {
    background-color: white;
    color: black;
}
.bt1 {
     background-color: white;
  color: black;
    border: none;
}
.bt:hover{
    transition: 0.8s;
    background-color: #0000ff;
    color: white;
    border: 1.5px solid rgb(0, 0, 0);
}
.bt1:hover{
      transition: 0.8s;
    background-color: #0000ff;
    color: white;
    border: 1.5px solid rgb(0, 0, 0);
}
@media (max-width: 760px) {
    .block1 {
        flex-direction: column;
        width: 90%;
        padding: 15px;
    }
    .img {
        width: 150px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .block3 {
        flex-direction: column;
        gap: 10px;
    }
    .block3 p {
        font-size: 16px;
        padding: 8px 12px;
    }
    .link {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .link button {
        width: 100%;
        margin-right: 0333;
    }
}
